body {
	background: black;
	background-image: url(https://3dwarehouse.sketchup.com/warehouse/v1.0/content/public/91e12c4f-08ed-4fc2-a80c-52a5c424b893);
}

.lua {
	height: 100px;
	position: absolute;
	top: 380px;
	right: 250px;
	transform: rotate(180deg);
}

h1 {
	font-size: 70px;
	color: #884FDE;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 1.0;
}

.planeta {
	height: 400px;
	position: absolute;
	top: 150px;
	left: 300px;
}
