body {
	background-color: black;
	background-image: url(https://3dwarehouse.sketchup.com/warehouse/v1.0/content/public/91e12c4f-08ed-4fc2-a80c-52a5c424b893);
}

h1 {
	color: #E2E21C;
  	font-family: sans-serif;
  	position: absolute;
  	left: 540px;
}

.star {
	height: 50px;
	position: absolute;
	right: 600px;
	bottom: 260px;
	transform: rotate(7deg);
}

.star2 {
	height: 65px;
	position: absolute;
	left: 450px;
	top: 150px;
	transform: rotate(7deg);
}

.star3 {
	height: 45px;
	position: absolute;
	top: 550px;
	left: 1100px;
	transform: rotate(7deg);
}

.star4 {
	height: 20px;
	position: absolute;
	top: 50px;
	right: 300px;
	transform: rotate(7deg);
}

.star5 {
	height: 30px;
	position: absolute;
	right: 400px;
	top: 260px;
	transform: rotate(7deg);
}

.star6 {
	height: 96px;
	position: absolute;
	left: 200px;
	bottom: 100px;
	transform: rotate(7deg);
}

.terra {
	height: 150px;
	position: absolute;
	right: 90px;
	top: 130px;

}

.lua {
	height: 47px;
	position: absolute;
	right: 33px;
	top: 180px;
	transform: rotate(70deg);
}
